<div class="portfolio section" >
    <div class="container">
        <div class="blur-container" #abc>
            <div class="row">
                <div class="section-title pad15">
                    <h2>Portfolio</h2>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-heading pad15">
                    <h2>My Latest Projects:</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image11.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image10.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="portfolio-item pad15">
                <div class="portfolio-item-inner shadow-dark" (mouseenter)="bgBlur(abc)" (mouseleave)="bgUnBlur(abc)">
                    <div class="portfolio-img">
                        <img src="../assets/images/portfolio/image9.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>