<!-- Main Container Start Updated -->
<div class="main-container">
    <!-- SideBAr Start -->
    <div class="side_bar" #sidebar>
        <div class="logo">
            <a href="#"><Span>L</Span>OGO</a>
        </div>
        <div class="nav-toggler" (click)="toggleClass(sidebar,'open')">
            <span></span>
        </div>
        <ul class="nav">
            <li><span   (click)="onSelect('1',sidebar)" [ngClass]="{active: loadedFeat === '1'}"><i class="fa fa-home"></i>Home</span></li>
            <li><span   (click)="onSelect('2',sidebar)" [ngClass]="{active: loadedFeat === '2'}"><i class="fa fa-user"></i>About</span></li>
            <li><span  (click)="onSelect('3',sidebar)" [ngClass]="{active: loadedFeat === '3'}"><i class="fa fa-list"></i>Services</span></li>
            <li><span  (click)="onSelect('4',sidebar)" [ngClass]="{active: loadedFeat === '4'}"><i class="fa fa-briefcase"></i>Portfolio</span></li>
            <li><span  (click)="onSelect('5',sidebar)" [ngClass]="{active: loadedFeat === '5'}"><i class="fa fa-comments"></i>Contact</span></li>
        </ul>
    </div>
    <!-- SideBAr End -->
    <!-- Main Content Start -->
    <div class="main-content">
    <!-- Home Section Start -->
    <!-- <app-home-section *ngIf="loadedFeat === '1'" ></app-home-section> -->
    <section class="home section"  *ngIf="loadedFeat === '1'">
        <div class="container">
            <div class="row">
                <div class="home-info pad15">
                    <h3 class="hello">Hello, my name is <span class="name">Name Surname</span></h3>
                    <h3 class="my-profession">I'm a <span class="typing">frontend developer</span></h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sed ullam impedit repudiandae, fuga amet animi quia quam laudantium illum magnam distinctio pariatur et nostrum sit voluptatem, doloremque, facere beatae!</p>
                    <a  class="btn hire-me">Hire Me</a>
                </div>
                <div class="home-img pad15">
                    <img class="image" data-speed="1" src="assets/images/img-red.png" alt=""
                    *ngIf="img_loadedfeat === 'c1'">
                    <img class="image" data-speed="1" src="assets/images/image-blue.png" alt=""
                    *ngIf="img_loadedfeat === 'c4'">
                    <img class="image" data-speed="1" src="assets/images/image-orange.png" alt=""
                    *ngIf="img_loadedfeat === 'c2'">
                    <img class="image"data-speed="1"  src="assets/images/image-green.png" alt=""
                    *ngIf="img_loadedfeat === 'c3'">
                    <img class="image"data-speed="1"  src="assets/images/image-pink.png" alt=""
                    *ngIf="img_loadedfeat === 'c5'">
                </div>
            </div>
        </div>
    </section> 
    <!-- Home Section end -->
    <app-about-section *ngIf="loadedFeat === '2'"></app-about-section>
    <app-service-section *ngIf="loadedFeat === '3'"></app-service-section>
    <app-portfolio *ngIf="loadedFeat === '4'"></app-portfolio>
    <app-contact-section *ngIf="loadedFeat === '5'"></app-contact-section>
    <app-color-changer (colorSelection)="imgChange($event)"></app-color-changer>
    </div>
    <!-- Main Content end -->
</div>
<!-- Main Container end -->