<section class="about section" >
    <div class="container">
        <div class="row">
            <div class="section-title pad15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content pad15">
                <div class="row">
                    <div class="about-text">
                        <h3>I'm Name and <span>Frontend Developer</span></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolor aspernatur suscipit nostrum voluptatem exercitationem natus velit, nulla vel? Culpa harum nulla debitis nam odit assumenda ab, ea aliquam impedit!
                        Repellendus distinctio repellat sequi aliquid pariatur vel voluptates animi, porro saepe quidem labore cupiditate. Quia dolorum harum, exercitationem, voluptate placeat, sit omnis iste praesentium aperiam hic odio corporis sunt odit?
                        Quas ipsum aliquam rem? Dolorem dicta sunt magnam, ipsam, eum cum doloremque facilis mollitia quis delectus odio dolor similique, laudantium soluta quia inventore officia voluptatum possimus ducimus laboriosam optio! Pariatur?
                        Consequuntur culpa voluptatem animi incidunt tempora delectus rerum sunt doloribus dolores, nemo in aliquam tenetur ut deserunt repudiandae quas veritatis ea. Voluptas quibusdam sunt voluptates pariatur, debitis eligendi quos quasi.
                        Consectetur odio nam iusto fuga esse, magni quibusdam quasi accusamus dolor quisquam ipsam sunt rem, cumque, placeat itaque pariatur earum repudiandae adipisci ad alias? Autem possimus fugiat commodi officia numquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
